# -*- coding: utf-8 -*-
'''
Created on {DATE}
---------
@summary:
---------
@author: {USER}
'''

import spider.utils.tools as tools
from items import *
from spider.core.spiders import Spider, BatchSpider
from spider.network.request import Request
from spider.utils.log import log


class ${parser_name}(Spider):

    def start_requests(self, *args, **kws):
        pass

    def parser(self, request, response):
        pass