# -*- coding: utf-8 -*-
'''
Created on {DATE}
---------
@summary:
---------
@author: {USER}
'''

import spider


class ${parser_name}(spider.SingleSpider):
    def start_requests(self, *args, **kws):
        yield spider.Request("https://www.baidu.com")

    def parser(self, request, response):
        # print(response.text)
        print(response.xpath('//input[@type="submit"]/@value').extract_first())


if __name__ == "__main__":
    ${parser_name}().start()